h2 {
    margin: 5px 0 5px 0;
    font-size: 1.2rem;
    text-align: center;
}

.filters-crime {
    margin: 25px;
}

#crimeSelect {
    border: 3px solid black;
    width: auto;
    height: 30px;
}
.criminalsContainer {
    display: flex;
    flex-flow: row wrap;
    border-top: 5px solid black;
    margin: 25px;
}
.card-officer {
    border: dotted lightblue;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 15rem;
}
.officersContainer {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
}
#criminal {
    border: dotted lightgray;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 15rem;
    text-decoration: none;
    background-color:white;
}

